                <ul class="main-menu menu">
                  <li class="menu-item menu-item-has-children dropdown"><a href="/">Home</a>
                  </li>
                  <li class="menu-item menu-item-has-children has-mega-menu"><a href="#">Category</a>
                    <div class="mega-menu">
                      <div class="mega-wrap">
                        <div class="mega-column">
                          <ul class="mega-item mega-features">
                            {{#each mainCatList}}
                              <li><a href="/product-listing">{{this.name}}</a></li>
                            {{/each}}
                            
                          </ul>
                        </div>
                        <div class="mega-column">
                          <h4 class="mega-heading">Shoes</h4>
                          <ul class="mega-item">
                            <li><a href="/product-listing">All Shoes</a></li>
                            <li><a href="/product-listing">Running</a></li>
                            <li><a href="/product-listing">Training & Gym</a></li>
                            <li><a href="/product-listing">Basketball</a></li>
                            <li><a href="/product-listing">Football</a></li>
                            <li><a href="/product-listing">Soccer</a></li>
                            <li><a href="/product-listing">Baseball</a></li>
                          </ul>
                        </div>
                        <div class="mega-column">
                          <h4 class="mega-heading">CLOTHING</h4>
                          <ul class="mega-item">
                            <li><a href="/product-listing">Compression & Nike Pro</a></li>
                            <li><a href="/product-listing">Tops & T-Shirts</a></li>
                            <li><a href="/product-listing">Polos</a></li>
                            <li><a href="/product-listing">Hoodies & Sweatshirts</a></li>
                            <li><a href="/product-listing">Jackets & Vests</a></li>
                            <li><a href="/product-listing">Pants & Tights</a></li>
                            <li><a href="/product-listing">Shorts</a></li>
                          </ul>
                        </div>
                        <div class="mega-column">
                          <h4 class="mega-heading">Accessories</h4>
                          <ul class="mega-item">
                            <li><a href="/product-listing">Compression & Nike Pro</a></li>
                            <li><a href="product-listing.html">Tops & T-Shirts</a></li>
                            <li><a href="product-listing.html">Polos</a></li>
                            <li><a href="product-listing.html">Hoodies & Sweatshirts</a></li>
                            <li><a href="product-listing.html">Jackets & Vests</a></li>
                            <li><a href="product-listing.html">Pants & Tights</a></li>
                            <li><a href="product-listing.html">Shorts</a></li>
                          </ul>
                        </div>
                        <div class="mega-column">
                          <h4 class="mega-heading">BRAND</h4>
                          <ul class="mega-item">
                            <li><a href="product-listing.html">NIKE</a></li>
                            <li><a href="product-listing.html">Adidas</a></li>
                            <li><a href="product-listing.html">Dior</a></li>
                            <li><a href="product-listing.html">B&G</a></li>
                          </ul>
                        </div> 
                      </div>
                    </div>
                  </li>
                  <li class="menu-item menu-item-has-children dropdown"><a href="/blog">News</a>
                  </li>
                  <li class="menu-item menu-item-has-children dropdown"><a href="/contact">Contact</a>
                  </li>
                </ul>
