                  @model IEnumerable<mainCategory>
                  <ul class="main-menu menu">
                  <li class="menu-item menu-item-has-children dropdown"><a href="/">Home</a>
                  </li>
                  <li class="menu-item menu-item-has-children has-mega-menu"><a href="#">Category</a>
                    <div class="mega-menu">
                      <div class="mega-wrap">
                           <div class="col-3">
                            <div class="mega-column">
                          <ul class="mega-item mega-features">
                             @foreach (var Mcat in Model)
                        {
                          <li><a class="Main-link" data-id=@Mcat.Id style="cursor:pointer">@Mcat.name</a></li>
                        }
                          </ul>
                        </div>
                           </div>
                        @foreach (var cat in Model)
                        {
                          <div class=" col-9 custom-column-block  custom-column-none categoryMenu" data-catId=@cat.Id>
                          <div class="row">
                          @foreach (var item in cat.categories)
                          {

                          <div class="mega-column col-3" i=>
                          <h4 class="mega-heading">@item.name</h4>
                          <ul class="mega-item">
                            @foreach (var subCat in item.subcategories)
                            {
                             <li><a asp-controller="Product" asp-action="Index" asp-route-id=@subCat.name >@subCat.name</a></li>
                            }
                          </ul>
                        </div>
                          }
                           </div>
                          </div>
                        }
                      </div>
                    </div>
                  </li>
                  <li class="menu-item menu-item-has-children dropdown"><a href="/blog">News</a>
                  </li>
                  <li class="menu-item menu-item-has-children dropdown"><a href="/contact">Contact</a>
                  </li>
                  </ul>


                  <script>
                        $(".Main-link").hover((e)=>{
                        var mId=$(e.target).attr("data-id");      
                        var child= $(".categoryMenu");
                        for(var i=0;i<child.length;i++){
                        var cId=$(child[i]).attr("data-catId");
                        if(mId==cId){
                        $(child[i]).css({"display":"block"});
                         }
                        else{
                        $(child[i]).css({"display":"none"});
                            }
                         }
                        });
                  </script>
